* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: myWriting;
    src: url(resources/myWriting.ttf);
}

body {
    background-image: linear-gradient(to bottom right,
            rgb(18, 137, 142),
            rgb(28, 29, 37),
            rgba(255, 184, 112),
            rgb(28, 29, 37),
            rgb(139, 125, 247)
           );
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 1vw 1vh;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: myWriting;
    font-weight: bolder;
    min-width: 75;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.trackDetails {
    border: groove 3px rgb(139, 125, 247);
    background-color: #1f1f2a;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    width: min-content;
    margin: 7px;
    border-radius: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    padding: 10px;
    color: white;
}

.trackDetails:hover {
    background-color: rgba(255, 184, 112, 0.50);
    color: #1f1f2a;
    transition: all 1s ease-out;
}

img {
    border: solid 1px rgb(139, 125, 247);
    width: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.trackAlbumTitle {
    color: rgb(139, 125, 247);
    font-style: italic;
    margin-top: 3px;
    margin-bottom: 3px;
}

/* attempting to format even a teeny bit the player ya know like in the center of the freaking page; below represents trying with the audio tag, a class attached to audio tag, and a div surrounding the audio tag with class of player */
#player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vw;
    list-style: none;
    padding-top: 25px;
    border-radius: 25px;
    border: 3px groove rgb(139, 125, 247);
    background-color: #1f1f2a;
    box-shadow: 0 4px 8px 0 rgb(139, 125, 247), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#playback {
    width: 75vw;
    margin: 25px;
}

/* and then came the webkit! */
#playback::-webkit-media-controls-play-button {
    background-color: #785ab4;
    border-radius: 50%;
}

#playback::-webkit-media-controls-mute-button {
    background-color: #785ab4;
    border-radius: 50%;
    margin-left: 3px;
}

audio::-webkit-media-controls-panel {
    background-color: #9A86FD;
}

audio::-webkit-media-controls-current-time-display {
    background-color: #FFB870;
    border-radius: 10px;
    padding: 8px;
}

audio::-webkit-media-controls-time-remaining-display {
    background-color: #FFB870;
    border-radius: 10px;
    padding: 8px;
    margin: 2px;
}

audio::-webkit-media-controls-timeline {
    background-color: #FFB870;
    border-radius: 10px;
}

/* styling to get the search bubble properly aligned with player/centered in header AND wired to js */
input {
    color: white;
    font-size: 16px;
    background: transparent;
    width: 25px;
    height: 25px;
    padding: 10px;
    border: solid 3px #9A86FD;
    outline: none;
    border-radius: 35px;
    transition: all 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #9A86FD;
}

/* pseudo class effects for the onfocus search box */
input::placeholder {
    color: #efefef;
    opacity: 0;
    transition: opacity 150ms ease-out;
}

input:focus::placeholder {
    opacity: 1;
}

input:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 #FFB870;
}

input:focus,
input:not(:placeholder-shown) {
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 #FFB870;
    text-align: center;
}


/* to remove the underline from links using pseudo-class */
a:link {
    text-decoration: none;
    color: rgb(139, 125, 247);
}

a:visited {
    text-decoration: none;
    color: rgb(139, 125, 247);
}

a:hover {
    text-decoration: none;
    color: rgb(139, 125, 247);
}

/* fun hover effect Scottie found that I want to play with and possibly incorporate */
ul,
button {
    margin: 5vw;
    display: flex;
    list-style: none;
    padding: 10px 5px;
    border-radius: 20px;
    border-top: 0.1px solid #40dfdf;
    border-left: 0.1px solid #40dfdf;
    background-color: #1f1f2a;
    box-shadow: 0 4px 8px 0 rgb(139, 125, 247), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
    font-family: myWriting;
    font-size: 24px;
    color: white;
    display: block;
    margin: 0px auto 20px auto;
    /* background: transparent; */
    padding: 10px;
    border: solid 3px #9A86FD;
    outline: none;
    border-radius: 35px;
    transition: all 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #9A86FD;
}

button:hover {
    background-color: rgba(255, 184, 112, 0.75);
    color: #1f1f2a;
}

li {
    margin: auto;
    color: rgb(139, 125, 247);
    font-size: 20px;
    white-space: nowrap;
    ;
    cursor: pointer;
}

li:after {
    display: block;
    content: '';
    border-bottom: solid 1px rgb(139, 125, 247);
    padding-bottom: 1%;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

li:hover:after {
    transform: scaleX(1);
}

/* formatting for iFrame of youTube video */
.firstFrame {
    border: 5px;
    width: 500px;
    height: 300px;
}


iframe {
    display: block;
    margin: auto;
    width: 75vw;
    height: 37vh;
    border-radius: 12px;
}

.libraryImg {
    border: groove 3px rgb(139, 125, 247);
    background-color: #1f1f2a;
    width: 50vw;
    height: 50vw;
    margin: 0px auto 0 auto;
    display: block;
    border-radius: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    padding: 10px;
    color: white;
}